<h1>Rock, Scissors or Paper?</h1>
<h2>Sign in and play</h2>
<form action="/names" method="post">
  <label for="player_name">
    Player
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

<div style='border: 8px solid purple'>
  <img src='https://media.istockphoto.com/vectors/hand-game-rock-scissors-paper-rules-gestures-vector-vector-id894535474?s=612x612'>
</div>
