
<h1>Hy there, my name is <%= @name %> do you want to Play?</h1>
<div style='border: 8px solid purple'>
    <img src='https://media.istockphoto.com/vectors/hand-game-rock-scissors-paper-rules-gestures-vector-vector-id894535474?s=612x612'>
</div>"